@model List<SearchEmployeeViewsModel>
@{
    ViewBag.Title = "Search";
    var category = ViewBag.Employees as List<Employees>;
}


<div class="container">
    <div>
        @*<form class="form-inline md-form mr-auto mb-4" asp-controller="Home" asp-action="Search" asp-route-id="@Model.SearchKey" method="post">
            <input class="form-control form-control-sm ml-3 w-75 text-white" asp-for="SearchKey" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>*@  
        <div class="row justify-content-center mt-3">
            @foreach (var employee in Model)
            {
                var avatarPath = $"/images/{employee.AvatarPath ?? "FORRD"}";

                <div class="col-md-4 visible" style="color:#fdd835">
                    <!-- Card -->
                    <div class="card my-4 text-center">
                        <!-- Card image -->
                        <img src="@avatarPath" class="MyImage" asp-append-version="true" />

                        <!-- Card content -->
                        <div id="search" class="card-body">
                            <!-- Title -->
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="card-text"><h2>@employee.Name</h2></a>
                            <!-- Text -->
                            <div class="card-text">
                                @*<h4>Brand:@employee.Carbrand.CarbrandName</h4>*@
                                <h3 class="font-weight-bolder text-danger">$@employee.Price</h3>

                            </div>

                            @*<div class="card-body text-center">
                                @if (User.IsInRole("Cường"))
                                {
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Edit</a>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                                }
                                else
                                {
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                                    <a asp-controller="Order" asp-action="Create" asp-route-id="@employee.Id" class="btn btn-primary">Car</a>
                                }
                                </div>*@
                        </div>
                        <!-- Card -->
                    </div>

                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.Products != null)
{
    @*<span class="alert alert-danger">@ViewBag.Products</span>*@
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>@ViewBag.Products</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            <a asp-controller="Home" asp-action="Index">Go To Homepage</a>
        </div>
    </div>

}

@*@section Scripts{
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#search h2").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    }*@
