@inject AppDbContext context;
@model IList<ViewModel>;

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Product Views Model";
}

<style>
    .cardid{
       width:70px;
       height:50px;
    }
</style>

<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-2">Products</h3>
    <div class="card">
        <div class="card-body">
            <form class="form-inline">
                <div class="md-form my-0 ">
                    <input id="myInput" class="form-control" type="text" placeholder="Search..." aria-label="Search">
                </div>
            </form>
        </div>
        <div class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a asp-controller="Home" asp-action="Create" class="text-success">
                    <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                </a>
            </span>
            <div style="overflow-x:auto;">
                <form asp-controller="Home" asp-action="Delete" method="POST">
                    <div>
                        <button class="btn btn-danger ml-4 mb-2" value="delete" type="submit">Delete</button>
                    </div>

                    <table id="table" class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="selectAll" /> Select All
                                </th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Avatar</th>
                                <th>Cabrand</th>
                                <th>Gallerys</th>
                                <th>Des</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @for (int i = 0; i < Model.Count(); i++)
                                {
                                    var avatarPath = $"/images/{Model[i].AvatarPath ?? "FORRD"}";
                                    <tr>
                                        <td>
                                            <input type="hidden" asp-for="@Model[i].Emps.Value" />
                                            <input asp-for="@Model[i].Emps.Selected" />
                                            <input type="hidden" asp-for="@Model[i].Id" />
                                        </td>
                                        <td>
                                            <label asp-for="@Model[i].Id">@Model[i].Id</label>
                                        </td>
                                        <td>
                                            <label asp-for="@Model[i].Name">@Model[i].Name</label>
                                        </td>
                                        <td>
                                            <label asp-for="@Model[i].Price">@Model[i].Price</label>
                                        </td>
                                        <td>
                                            <img src="@avatarPath" class="card-img-top" style="width:100px" height="50" asp-append-version="true" />
                                        </td>
                                        <td>
                                            @{ 
                                                var cabrand = (from c in context.Carbrands where c.CarbrandId == Model[i].CarbrandId select c).ToList();
                                            }
                                            @foreach(var car in cabrand)
                                            {
                                                <label>@car.CarbrandName</label>
                                            }
                                        </td>
                                        <td>
                                            @{

                                                var images = (from g in context.Gallerys
                                                              where g.EmployeeId == Model[i].Id
                                                              select new Casetudy.Models.ListAvatar.GalleryModel()
                                                              {
                                                                  Id = g.Id,
                                                                  Name = g.Name,
                                                                  Url = g.Url
                                                              }).ToList();
                                            }
                                            @foreach (var iteam in images)
                                            {
                                                <a href="@iteam.Url" data-toggle="lightbox" data-gallery="@iteam.Id" data-title="@iteam.Name">
                                                    <img src="@iteam.Url" class="cardid" @*style="width:70px" height="50"*@ />
                                                </a>
                                            }
                                            </td>
                                        <td>
                                            @{
                                                var des = (from e in context.Descriptions
                                                           join ed in context.EmployeeDescriptions on e.DescriptionId equals ed.DescriptionId
                                                           where ed.EmployeeId == Model[i].Id
                                                           select e).ToList();
                                            }
                                            @foreach (var dept in des)
                                            {
                                                <label>@dept.OriginName</label>
                                            }

                                        </td>
                                        <td>                                            
                                            <span class="table-remove">
                                                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-success">Edit</a>
                                                <a asp-controller="Home" asp-action="Details" class="btn btn-danger" asp-route-id="@Model[i].Id">Details</a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $("#selectAll").click(function () {
                $("input[type = checkbox]").prop('checked', $(this).prop('checked'));
            });
            $("input[type =checkbox]").click(function () {
                if (!$(this).prop("checked")) {
                    $("selectAll").prop("checked", false);
                }
            });
        });
    </script>
}



